doctypehtml
html
    head
        link(rel="stylesheet", href="main.css")
    body
        .container
            #contact
                p alex.cisija@gmail.com
                p (203) 214-3447

            #name
                h1 <span id="nameDecor">() -> </span>Alex <b>Cisija</b>
            
            .section#titles
                h2 Objected Oriented Programming, Relational Databases, Web Development, iOS App Development, Desktop Software Development.
            h1.title Education
            .section
                .listing
                    h2 Iona College - New Rochelle, NY
                    h2 2017 - Expected 2022
                .content
                    p <b>Major: </b>BA Computer Science
                    p <b>Coursework: </b>Data Structures & Algorithms, Database Management, Operating Systems, Web Design

            h1.title Technical Tools
            .section#ttools
                h2 Python, C++, C, C#, Swift, Java, JavaScript, HTML, CSS, MySQL, Unix, React, Git, Jupyter, Numpy, SciPy, Gdal, Qt, Mapbox, Adobe CC, Windows Forms, MS Office, Visual Studio, GIMP

            h1.title Work Experience
            .section
                .listing
                    h2 <b>Groundwork Artist Management</b> / Web Developer
                    h2 Apr 2018 - Feb 2020
                .content
                    p During these 2 years, I worked as a freelance web designer and developer using the Adobe Creative Suite. My clients included Ishtar Alabina, Nikki Yanofsky, Yale University, and several local businesses.
                    p - Increased screen size responsiveness with CSS flexbox styling.
                    p - Created robust cross-browser parallax scrolling effects with JavaScript and CSS position properties.
                    p - Developed Wordpress themes using PHP to make site management easier and more accessible.
                    p - Demonstrated timely communication and expertise in translating client needs into attractive and interactive designs.
                    .tags PHP, SQL, HTML, CSS, JavaScript, JQuery
            
            h1.title Personal Projects
            .section

                .listing
                    h2 <b>Music iOS app</b> / iOS App Development
                    h2 Jan 2022 - Present
                .content
                    p - Developed an iOS app for tracking listening habits with SwiftUI and Xcode.
                    p - Created a relational database schema to store listening information and aggregate data into informative diagrams for the user. 
                    p - Used the normal forms to optimize querying and prevent breaking changes.
                    p - Developed an API endpoint for sites to query and make personal data accessible to the user.
                    .tags Swift, SwiftUI, SQL, PHP, HTML, CSS, JavaScript, Xcode

                .listing 
                    h2 <b>Weather Forecast Model Viewer</b> / Web Development
                    h2 Jun 2020 - Present
                .content
                    p - Built an interactive web app for viewing various weather models.
                    p - Utilized SciPy library for data interpolation to create smooth contours after parsing GRIB weather data.
                    p - Increased contouring performance by a factor of 20 using Numpy and PIL libraries.
                    p - Decreased disk usage by 20% formatting to palette images and pre-mapping values to Mercator coordinates.
                    p - Managed a Linux OS server for collecting and serving data to the front-end.
                    p - Analyzed big data and improved on previous algorithms for efficiency and accuracy.
                    p - Monitored and decreased memory usage by carefully allocating and deallocating data for processing.
                    p - Leveraged knowledge in GIS systems.
                    .tags Unix, Python, HTML, CSS, JavaScript, Mapbox GL, React, Numpy, SciPy, Gdal, wgrib

                .listing
                    h2 <b> The Beatles Colorization </b> / Machine Learning
                    h2 Jun 2020 - Aug 2020
                .content
                    p - Rotoscoped and prepared thousands of frames for segmentation CNN training.
                    p - Trained a CNN model for facial segmentation using variable epochs and learning rates.
                    p - Mapped network classifications with corresponding colors.
                    p - Leveraged knowledge in Mocha rotoscoping and convolutional neural networks.
                    p - Mentored aspiring video colorizers.
                    .tags Python, Adobe CC, Mocha AE, PyTorch

